/*--------------------- Спецификация ------------------------ */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

div, p, form, input, a, span, button,section {
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 1.5em;
}

ul,li {
    display: block;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    /* text-transform: uppercase; */
    font-weight: 900;
    line-height: 1.45em;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

/*---------------------- header section ------------------------ */
.fon {
    background:  url('../img/firs.png') no-repeat center top / cover;
}

.nav {
    padding: 16px 0 27px;
    align-items: center;
    background: #fff;
    box-shadow: inset 0 -10px 10px 0 rgba(0,0,0,0.10);
}

.nav__container {
    align-items: center;

}

.nav__plug {
    width: 50px;
    height: 50px;
    background: #1b3bde;
    border-radius: 5px;
    text-align: center;
}

.nav__plug {
    font-size: 30px;
    color: #fff;
    padding: 9px 0px;
}

.nav__text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #1b3bde;
    padding: 0 10px;
}

.nav__verst {
    display: block;
    font-size: 23px;
    color: #1b3bde;
    font-weight: 700;
}

.nav__item a {
    color: #000;
    font-size: 13px;
    transition: 0.2s;
    border: 1px solid #fff;
    padding: 5px 30px;
    border-radius: 5px;
}

.nav__item a:hover {
    font-size: 13px;
    font-weight: normal;
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.nav__phone {
    margin-left: auto;
}

.nav__number {
    margin-left: 5px;
    font-weight: 900;
    color: #000;
}

.nav__number:hover {
    border-bottom: 2px dotted rgba(0,0,0,0.50);
}

.nav__low {
    margin-left: 145px;
    font-size: 12px;
}

/* ---------------------------------------------- */

.fon__container {
    padding: 90px 0 135px;
}

.fon__icon {
    font-size: 16px;
    font-weight: 300;
    padding: 100px 0 21px;
}

.fon__date {
    display: inline-block;
    font-size: 14px;
    border: 1px solid #000;
    padding: 3px 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
}

.fon__block {
    width: 575px;
    /* margin-left: 60px; */
    text-align: center;
}

.letter {
    font-size: 44px;
}

.fon__title {
    font-size: 41px;
    letter-spacing: 0.1em;
    color: #1b3bde;
    padding-bottom: 19px;
}

/* -------------------------------------------- */

.form {
    border: 1px solid;
    width: 340px;
    padding: 25px 30px 27px;
    border-radius: 5px;
    border: 1px;
    background: #fff;
    box-shadow: 10px 0px 53px rgba(0,0,0,0.4);
}

.form__title {
    text-align: center;
    padding-bottom: 15px;
}

.form__text {
    text-align: center;
    padding-bottom: 23px;
}

.form__emale {
    padding: 20px 0 15px;
    border-bottom: 1px solid;
}

.form__phone {
    padding: 20px 0 15px;
    border-bottom: 1px solid;
}


.form__bttn {
    padding: 40px 0 15px;
    border: 1px solid;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    background: #4acc4d;
    border:1px;
}

.btn {
    color: #fff;
    transition: 0.4s;

}

.btn:hover {
    color: #4acc4d;
}

.form__data {
    font-size: 12px;
    padding-top: 15px;
    text-align: center;
}

.form__box {
    margin-bottom: 32px;
}

.form__input {
    width: 100%;
    font-size: 14px;
    color: #bdbdbd;
    border: none;
    border-bottom: 2px solid;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.form__input:focus {
    font-size: 14px;
    color: #000;
    border-bottom: 2px solid #000;
}

/*---------------------- /header section ------------------------ */

.know {
    padding: 124px 0 121px;
    background: #fff;
}

.speaker {
    margin-bottom: 65px;
}

.speaker-box {
    width: 443px;
    padding: 24px 97px 40px 35px;
    background: #9d6bdc;
    border-radius: 7px;
    color: #fff;
    box-shadow: 10px 0px 53px rgba(0,0,0,0.4);
}

.speaker__name {
    font-size: 28px;
    letter-spacing: 0.063em;
    padding-bottom: 20px;
}

.speaker__freelance {
    font-size: 15px;
}

.speaker__text {
    align-items: center;
}

.speaker__num {
    font-size: 39px;
    font-weight: 700;
}

.speaker__bild {
    font-size: 13px;
    padding: 20px;
    line-height: 1.1em;
}

.speaker__experience {
    font-size: 39px;
}

.speaker__experience {
    font-weight: 700;
    font-size: 39px;
}

.experience {
    font-size: 14px;
    line-height: 1.1em;
    padding: 10px;
}

.know-more {
    font-size: 14px;
}

/* ------------------------------------------------- */

.question {
    width: 600px;
    padding: 60px 57px 80px 60px;
}

.question__title {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 18px;
}

.rubl {
    font-weight: 700;
}
.question__text {
    font-size: 16px;
}

.money {
    width: 470px;
    padding: 40px 66px 40px 50px;
    background: #f6e23a;
    border-radius: 7px;
    color: #fff;
    box-shadow: 10px 0px 53px rgba(0,0,0,0.4);
}

.money__item {
    font-size: 43px;
    font-weight: 900;
    color: #000;
    text-align: center;
    padding: 52px 118px;
}

.money__month {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
    padding-left: 16px;
}

.question__second {
    width: 661px;
    padding: 66px 22px 0px 129px;
}

/* ------------------------------------------------------- */

.show__fon {
    background:  url('../img/firs.png') no-repeat center top / cover;
}

.show__container{
    padding: 102px 0 100px;
}

/* ------------------------------------------ */

.can__title {
    width: 270px;
    font-size: 28px;
    padding-bottom: 66px;
    white-space: pre-line;
}

.can__item {
    width: 370px;
}

.can__select {
    display: inline-block;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    padding: 24px 35px;
    background: #1b3bde;
    border-radius: 5px;
}

.can__text {
    font-size: 19px;
    color: #1b3bde;
    padding-bottom: 6px;
}

.can__money {
    padding: 16px 23px 0 30px;
}

/* --------------------------------------------- */

.work {
    width: 310px
}

.work__select {
    display: inline-block;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    padding: 24px 35px;
    background: #1b3bde;
    border-radius: 5px;
}

.work__travel {
    font-size: 19px;
    color: #1b3bde;
    padding-bottom: 6px;
}

.work__money {
    padding: 16px 19px 0 30px;
}

/* ------------------------------------------------ */

.step {
    width: 343px;
}

.step__select {
    display: inline-block;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    padding: 24px 35px;
    background: #1b3bde;
    border-radius: 5px;
}

.step__text {
    font-size: 19px;
    color: #1b3bde;
    padding-bottom: 6px;
}

.step__next {
    padding: 16px 5px 0 30px;
}

/* ------------------------------------------------- */
.if__container {
    font-size: 28px;
    padding: 90px 0 102px 0;
}

.biginner {
    width: 350px;
    padding: 68px 112px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    background: #4acc4d;
    transition: 0.2s;
}

.biginner:hover {
    box-shadow: 10px 0px 53px rgba(0,0,0,0.3);
}

.biginer__text {
    padding: 20px 0 0px;
}

.if__title {
    padding-bottom: 70px;
}

/* -------------------------------------------------- */

.finance {
    width: 350px;
    padding: 60px 79px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    background: #4ac7cc;
    transition: 0.2s;
}

.finance:hover {
    box-shadow: 10px 0px 53px rgba(0,0,0,0.3);
}

.finance__text {
    padding: 20px 0 0px;
}


/* ---------------------------------------------------- */

.freelance {
    width: 350px;
    padding: 60px 69px;
    color: #fff;
    text-align: center;
    border-radius: 7px;
    background: #dc6b83;
    transition: 0.2s;
}

.freelance:hover {
    box-shadow: 10px 0px 53px rgba(0,0,0,0.3);
}



.freelance__text {
    padding: 20px 0 0px;
}

/* ------------------------------------------------------ */

.order__fon {
    background:  url('../img/second-bg.png') no-repeat center top / cover;
}

.order__container {
    padding: 90px 0 118px 0;
}

.order-block {
    text-align: center;
    color: #fff;
}

.far,
.fas {
    padding: 0 10px 0 15px;
}

.order_icon {
    padding: 105px 0 34px;
}

.order__title {
    width: 565px;
    font-size: 28px;
}

.order__time {
    display: -webkit-inline-box;
    padding: 23px 0 0 42px;
}
